.timeline {
  background: url("https://imgs.search.brave.com/44noGbgIBQDlcDLcZDKzPMfKd6HT3yqAX-7n7yBpEw8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9jcnlzdGFsLWJh/bGwtcGluZS1mb3Jl/c3QtY29uY2VwdHVh/bC1pbWFnZS1uYXR1/cmVfOTQ3MDczLTIw/NjgwLmpwZz9zaXpl/PTYyNiZleHQ9anBn");
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-bottom: 100px;
  border-radius: 20px;

  background-position: center center;
  object-fit: cover;
}
.Profile-pic {
  position: absolute;
  bottom: -100px;
  left: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  border: 4px rgb(161, 154, 154) dashed;
}

.Cards {
  display: grid;
  grid-template-columns: 30% 70%;
}
.Heading {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 750px) {
  .Cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
